<!DOCTYPE html>
<html>
  <head>
    <title>ChatApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content= "width=device-width, initial-scale=1.0">
  </head>

  <body>
    <%= render partial: "shared/nav_bar" %>
    <%= render partial: "shared/flash_message" %>
    <div class="container mt-5">
      <div class="row">
        <div class="col-12">
           <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
